$headColor: linear-gradient(to right, #4d194d, #006466);
body {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    * {
        cursor: unset !important;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #3a0ca3, #fefae0);
        width: 100%;
        height: 100vh;
        overflow: hidden;
        .box {
            width:  300px;
            height: 505.5px;
            position: relative;
            .switchA {
                position: absolute;
                top: 12%;
                left: 82%;
                cursor: pointer;
                font-size: 20px;
                color: #fff;
            }
            
            .switchRgb {
                position: absolute;
                top: 5%;
                left: 82%;
                cursor: pointer;
                font-size: 20px;
                color: #4361ee;
            }
            .clickMe {
                position: absolute;
                top: 19%;
                left: 82%;
                cursor: pointer;
                font-size: 20px;
                color: #ff0054;
            }
            .clickMeToo {
                position: absolute;
                top: 26%;
                left: 82%;
                cursor: pointer;
                font-size: 20px;
                color: #4d194d;
            }
            .crossFather {
                font-size: 20px;
                color: #fec89a;
                position: absolute;
                top: 5%;
                left: 91%;
                border-radius: 50%;
            }
            .touch {
                top: 45.2%;
                left: 84%;
                border-top: 55px solid transparent;
                border-left: 10px solid #4d194d;
                position: absolute;
            }
            .touchTwo {
                top: 56%;
                left: 84%;
                border-bottom: 25px solid transparent;
                border-left: 10px solid #4d194d;
                position: absolute;
            }
            .geekVape {
                font-size: 20px;
                color: #000;
                position: absolute;
                top: 12%;
                left: 91%;
                border-radius: 50%;
            }
            .tipMe {
                position: absolute;
                top: 5%;
                left: 72%;
                cursor: pointer;
                font-size: 20px;
                color: #1e96fc;
            }
            .tipHolderMe {
                position: absolute;
                top: 12%;
                left: 72%;
                cursor: pointer;
                font-size: 20px;
                color: #ff0a54;
            }
            .atomizerMe {
                position: absolute;
                top: 19%;
                left: 72%;
                cursor: pointer;
                font-size: 20px;
                color: #6f1d1b;
            }
            .bodyMe {
                position: absolute;
                top: 26%;
                left: 72%;
                cursor: pointer;
                font-size: 20px;
                color: #390099;
            }
            .triangle {
                font-size: 20px;
                color: #4d194d;
                position: absolute;
                top: 19%;
                left: 91%;
                border-radius: 50%;
            }
            .touchMe {
                top: 80%;
                left: 84%;
                border-top: 30px solid transparent;
                border-left: 10px solid #4d194d;
                position: absolute;
            }
            .touchTwoMe {
                top: 86%;
                left: 84%;
                border-bottom: 25px solid transparent;
                border-left: 10px solid #4d194d;
                position: absolute;
            }
            .boxes {
                font-size: 20px;
                color: #000;
                position: absolute;
                top: 26%;
                left: 91%;
                border-radius: 50%;
            }
            .head {
                height: 33.33%;
                width: 31.67%;
                position: absolute;
                top: 0;
                left: 25.83%;
                .tip {
                    height: 40%;
                    width: 50%;
                    margin: 0 auto;
                    background: linear-gradient(to bottom, #1e96fc, #fffdf7);
                    border-radius: 5px 5px 0 0;
                }
                .tipHolder {
                    height: 20%;
                    width: 70%;
                    margin: 0 auto;
                    background: linear-gradient(to top, #003049, #ff0a54);
                    border-radius: 5px 5px 0 0;
                }
                .atomizer {
                    height: 40%;
                    width: 100%;
                    background: linear-gradient(to top, #6f1d1b, #240046);
                    border-radius: 12px 12px 0 0;
                }
            }
            .body {
                height: 64.67%;
                width: 68.83%;
                background: linear-gradient(to top, #ff0054, #390099);
                position: absolute;
                top: 33.33%;
                left: 15.83%;
                border-radius: 10px 45px 20px 10px;
                z-index: 1;
                overflow-x: hidden;
                border-top: 5px solid #000;
                border-bottom: 5px solid #000;
                .cross1, .cross2 {
                    color: #fec89a;
                }
                .crossOneMother, .crossTwoMother {
                    font-size: 18px;
                    position: absolute;
                    height: 13px;
                    width: 13px;
                    border-radius: 50%;
                    opacity: 50%;
                }
                .crossOneMother {
                    top: 5%;
                    left: 84%;
                }
                .crossTwoMother {
                    top: 90%;
                    left: 84%;
                }
                .headBox {
                    top: 12.5%;
                    border-top: 26px solid transparent !important;
                    border-left: 168px solid #ff0054;
                    position: absolute;
                }
                .firstBox {
                    height: 60%;
                    width: 85%;
                    background: linear-gradient(to bottom, #ff0054, #390099);
                    position: absolute;
                    top: 20%;
                    border-radius: 0 10px 10px 0;
                    z-index: -1;
                    .cross3, .cross4 {
                        color: #fec89a;
                    }
                    .crossOne, .crossTwo {
                        font-size: 15px;
                        position: absolute;
                        border-radius: 50%;
                    }
                    .crossOne {
                        top: 5%;
                        left: 84%;
                    }
                    .crossTwo {
                        top: 88%;
                        left: 84%;
                    }
                    .geek, .vape {
                        color: #000;
                    }
                    .geek, .vape {
                        position: absolute;
                        transform: rotate(270deg);
                        font-size: 32px;
                        font-family: 'Stint Ultra Condensed', cursive;
                        left: 65%;
                        font-weight: bold;
                        letter-spacing: 3px;
                    }
                    .geek {
                        top: 56%;
                    }
                    .vape {
                        top: 26%;
                    }
                    .babyBoxHead {
                        top: 10.3%;
                        border-top: 17px solid transparent;
                        border-left: 108px solid #4d194d;
                        position: absolute;

                    }
                    .babyBox {
                            position: absolute;
                            height: 65%;
                            width: 65%;
                            background: linear-gradient(to bottom, #4d194d, #006466);
                            position: absolute;
                            top: 18%;
                            border-radius: 0 10px 10px 0;
                    }
                    .babyBoxFoot {
                        position: absolute;
                        top: 82.3%;
                        border-bottom: 17px solid transparent;
                        border-left: 108px solid #006466;
                        position: absolute;
                    }
                }
                .footBox {
                    top: 79.8%;
                    border-bottom: 28px solid transparent;
                    border-left: 170px solid #390099;
                    position: absolute;
                }
            }
        }
    }

}

